.input {
	position: relative;
	min-width: 384px;
}

.input__input {
	display: block;
	width: 100%;
	padding: 23px 16px;
	border: 1px solid #323b54;
	border-radius: 12px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	background-color: #0f1c2d;
}

.input__icon {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
}

.input::placeholder {
	color: #475069;
}

.input--with-icon .input__input {
	padding-left: 56px;
}
