:root {
	--font: 'Open Sans', 'Arial', sans-serif;
	--white-color: #fff;
	--text-color: #8e95a9;
	--title-color: #ebeef5;
	--primary-color: #7b6ef6;
	--primary-color-hover: #5b51b6;
	--secondary-color: #37d8a7;
	--third-color: #ffad49;
	--bg-color: #12172a;
}
